<html lang="zh">
    <head>
        <title>注册</title>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <form class="form-horizontal" method="POST" action="{% url 'register' %}">
            <div class="form-group">
              <label for="username" class="col-sm-2 control-label">用户名：</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="username" id="username" placeholder="请输入用户名">
              </div>
            </div>

            <div class="form-group">
              <label for="password" class="col-sm-2 control-label">密码：</label>
              <div class="col-sm-4">
                <input type="password" class="form-control" name="password" id="password"" placeholder="请输入密码">
              </div>
            </div>

            <div class="form-group">
                <label for="password2" class="col-sm-2 control-label">确认密码：</label>
                <div class="col-sm-4">
                  <input type="password" class="form-control" name="password2" id="password2" placeholder="请确认密码">
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">邮箱：</label>
                <div class="col-sm-4">
                  <input type="email" class="form-control" name="email" id="email" placeholder="请输入邮箱">
                </div>
            </div>

            
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">注册</button>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <p>{{ error }}</p>
              </div>
            </div>
          </form>
    </body>

</html>